@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
body {
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Madimi One', sans-serif;
}

h1 {
	font-size: clamp(3rem, 3.5rem, 4rem);
}
h2 {
	font-size: clamp(1rem, 2rem, 2rem);
}
h3 {
	font-size: clamp(1rem, 1rem, 2rem);
}

a {
	text-decoration: none;
	color: black;
	font-size: clamp(1rem, 1.5rem, 2rem);
}
button,
p {
	font-size: clamp(1rem, 1.5rem, 2rem);
}

li {
	list-style: none;
}
